@import "./humane-ghosttext.css";

/* [data-gt-field] {
	transition: box-shadow 3s cubic-bezier(0.25, 2, 0.5, 1);
} */
.GT--waiting [data-gt-field] {
	box-shadow: #00f25a 0 0 5px inset;
}
[data-gt-field="loading"] {
	box-shadow: #ffb600 0 0 5px 5px inset;
}
[data-gt-field="enabled"] {
	box-shadow: rgba(0, 140, 255, 0.226) 0 0 0 3px inset !important;
}
